

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";




.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  min-height: 100vh;
  color: #0f172a;
  background: linear-gradient(180deg, #f8fafc 0%, #ffffff 35%, #f8fafc 100%);
  font-family: "Urbanist", sans-serif;
}

.flat {
  fill: #e5e7eb;
  cursor: pointer;
  transition: 0.2s;
}

.flat:hover {
  fill: #3b82f6;
}

.flat[data-status="sold"] {
  fill: #f87171;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
